@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* nav {
  background: transparent !important;
} */

.logo-size {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  object-fit: contain; /* Ensure the image fits within the specified dimensions */
}

.custom-image-size {
  width: 500px; /* Set the desired width */
  height: 300px; /* Set the desired height */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}